* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Droid Sans', serif; }

body {
  text-align: center;
  background: #000;
  font-family: sans-serif;
  font-weight: 100; }

h1 {
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
  letter-spacing: 2px; }

#sideMenu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  margin-top: 40px;
  color: #fff;
  font-size: 20px; }

#gameBoard {
  margin-top: 40px; }
  #gameBoard .tile {
    background: #120D0D;
    background-image: url("../../imgs/question.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border: #000 1px solid;
    border-radius: 6px;
    float: left;
    margin: 2px;
    padding: 50px;
    font-size: 64px;
    cursor: pointer;
    text-align: center; }
    @media only screen and (max-width: 768px) {
      #gameBoard .tile {
        background: yellow; } }
