* {
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
}

body{
	text-align: center;
	background: #000;
    font-family: sans-serif;
    font-weight: 100;
}

h1 {
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    letter-spacing: 2px;
}

#sideMenu {
    display: flex;
    justify-content: space-around;
    height: 60px;
    margin-top: 10px;
    color: #000;
    font-size: 20px;
    border: 2px solid #005593;
    border-radius: 20px;
    background-color: #00B2FF;
    padding: 6px;

    span {
        color: #fff;
    }
}

#gameBoard {
    margin-top: 30px;
    // @media only screen and (max-width: 768px) {
    //     float: none;
    // }

    .tile {
        float: left;
        background: #0093FF;
        background-image: url('../../imgs/question.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        border: #fff 1px solid;
        border-radius: 6px;
        margin: 2px;
        padding: 50px;
        font-size: 64px;
        cursor: pointer;
        text-align: center;

    }
}