* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: 'Permanent Marker', cursive; }

.container {
  background-color: black;
  color: #EEE;
  display: table;
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.2))), url("../../imgs/question.png");
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../../imgs/question.png");
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../../imgs/question.png");
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.2) 100%), url("../../imgs/question.png");
  background-repeat: no-repeat;
  background-position: center; }
  .container .row {
    display: table-cell;
    vertical-align: middle; }
    .container .row h1 {
      color: #F11515;
      font-size: 65px;
      font-weight: normal;
      line-height: 60px;
      text-transform: uppercase; }
      @media only screen and (max-width: 768px) {
        .container .row h1 {
          margin-right: 10px; } }
    .container .row p {
      font-size: 32px;
      color: #E6AA34;
      margin-bottom: 80px; }
      @media only screen and (max-width: 768px) {
        .container .row p {
          font-size: 28px;
          margin-right: 10px; } }
    .container .row a {
      display: table;
      text-transform: uppercase;
      font-weight: normal;
      width: 400px;
      margin: 10px auto; }
      @media only screen and (max-width: 768px) {
        .container .row a {
          width: 300px; } }
